* {
  text-decoration: none;
}
body {
  background-color: #fab5c88c;
}

.header {
  margin-bottom: -5px;
}
.banderoll {
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 0px;
}
.logo {
  left: 1400px;
  top: 40px;
  width: 70px;
  height: 70px;
  position: absolute;
}
.logo2 {
  margin-left: 300px;
  margin-right: 300px;
  padding-bottom: 1px;
  height: 30px;
}

#banner {
  position: absolute;
  top: 0px;
  margin-left: 10px;
  font-size: 80px;
  color: #f4376d;
  text-shadow: 5px 5px #591729;
  font-family: "Luckiest Guy", cursive;
  padding: 0px;
}

.main {
  width: 100%;
  height: 800px;
  position: relative;
  top: 0;
  left: 0;
  z-index: -2;
  padding-top: 0px;
  opacity: 0.5;
  padding-bottom: 0px;
}
.main2 {
  margin-top: 70px;
  width: 600px;
  height: 380px;
  position: absolute;
  top: 30px;
  left: 27.5%;
  float: center;
  z-index: -1;
}

.FAQheader {
  color: #f4376d;
  text-shadow: 1px 1px #591729;

  font-size: 34px;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 1000;
  text-align: center;
  font-style: bold;
}

.parent {
  position: relative;

  margin-top: -1px;
  margin-bottom: -20px;
}

nav {
  z-index: 10;
  width: 100%;
  height: 63px;
  background-color: #f4376d;
  margin-top: -30px;
}

nav p {
  z-index: 10;
  font-family: arial;
  color: #222;
  font-size: 18px;
  line-height: 55px;
  float: right;
}

nav ul {
  z-index: 10;
  float: left;
}

nav ul li {
  z-index: 10;
  float: left;
  list-style: none;
  position: relative;
}

nav ul li a {
  z-index: 10;
  display: block;
  font-family: "Spicy Rice", cursive;
  text-transform: uppercase;
  color: #222;
  font-size: 22px;
  padding: 8px 14px;
}

nav ul li ul {
  z-index: 10;
  display: none;
  position: absolute;
  background-color: #f4376d;
  padding: 10px;
  border-radius: 0px 4px 4px 4px;
  margin-left: 15px;
}

nav ul li ul li ul {
  display: none;

  padding: 0;
}

nav ul li ul li ul li {
  display: none;
}
nav ul li ul li:hover ul li {
  display: block;
  padding: 10px 14px;
}

nav ul li:hover ul {
  z-index: 10;
  display: block;
}

nav ul li ul li {
  z-index: 10;
  width: 180px;
}

nav ul li ul li a {
  z-index: 10;
  padding: 10px 14px;
}

nav ul li ul li ul a {
  z-index: 10;
  padding: 10px;
  font-size: 18px;
}

nav ul li:hover {
  z-index: 10;
  background-color: #f8aec563;
}

.fixed {
  position: fixed;
  top: 0;
  margin-top: 0px;
}

.box {
  height: 500px;
  padding-top: 40px;
  width: 100%;
  position: absolute;
  padding-right: 0px;
}

.section {
  width: 25%;
  margin-left: 0%;
  margin-right: 75%;
  border-radius: 25px;
  background-color: #f88fab;
  height: 650px;
}
.middle {
  margin-left: 27.5%;
  width: 45%;
  background-color: #fc86a5d5;
  border-radius: 25px;
  height: 650px;
}
.middle-text {
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  font-size: 22px;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 1000;
}

.aside {
  margin-left: 75%;
  width: 25%;
  padding-right: 0px;
  border-radius: 25px;
  background-color: #f88fab;
  height: 650px;
}

.aside-text {
  font-size: 16px;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 1000;
  margin-left: 15px;
  margin-right: 15px;
}

.slides {
  margin-top: 35px;
  margin-bottom: 20px;
  border-style: solid;
  border-color: #f55688;
  border-width: 2px;
  width: 75%;
  height: auto;
  margin-left: 10%;
  border-radius: 25px;
}

.news {
  font-family: "Merriweather Sans", sans-serif;
  margin-left: 15px;
}

.foot {
  width: 100%;
  height: 150px;
  background-color: #f4376d;
  margin-top: 790px;
}

#counter {
  margin: 0px;
}

.foot-text {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 22px;
  margin-top: 40px;
}

#copy {
  text-align: center;
  padding-top: 11px;
  font-weight: 1000;
}

@media screen and (max-width: 1024px) {
  .banderoll {
    display: none;
  }
  .header {
    height: 130px;
  }
  .aside {
    height: 850px;
    width: 30%;
    margin-left: 70%;
  }
  .section {
    display: none;
  }
  .middle {
    height: 850px;
    width: 69%;
    margin-left: 0%;
  }
  .foot {
    margin-top: 970px;
  }
  .main2 {
    left: 6%;
  }
  nav ul li a {
    padding: 8px 8px;
  }
}
@media screen and (max-width: 768px) {
  .main2 {
    display: none;
  }

  .banderoll {
    display: none;
  }
  .header {
    height: 130px;
  }
  .aside {
    display: none;
  }
  .section {
    display: none;
  }
  .middle {
    height: 550px;
    width: 100%;
    margin-left: 0%;
  }
  .foot {
    margin-top: 670px;
  }
  .main2 {
    left: 6%;
  }
  nav ul li a {
    padding: 8px 4px;
  }

  .middle-text {
    margin-left: 5%;
    margin-right: 5%;

    font-size: 18px;
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 1000;
  }
  .main2 {
    margin-top: 70px;
    width: 300px;
    height: 180px;
    position: absolute;
    top: 60px;
    left: 12%;
    float: center;
    z-index: -1;
  }
  .header {
    margin-bottom: -30px;
  }

  #copy {
    margin-left: 14%;
    padding-top: 11px;
    font-weight: 1000;
  }
}
